menu "TS-FPGA devices"

config TSWEIM_FPGA_INTC
	tristate "TS-71XX WEIM FPGA IRQ Support"
	default n
	help
	  Select this option if you have a Technologic Systems TS-71XX SBC.
	  This driver is necessary to support the in FPGA IRQ controller
	  that is present on the WEIM bus.

	  If unsure, say N.

endmenu
