config SOC_IMX23
	bool
	select ARM_AMBA
	select ARM_CPU_SUSPEND if PM
	select CPU_ARM926T
	select PINCTRL_IMX23

config SOC_IMX28
	bool
	select ARM_AMBA
	select ARM_CPU_SUSPEND if PM
	select CPU_ARM926T
	select PINCTRL_IMX28

config ARCH_MXS
	bool "Freescale MXS (i.MX23, i.MX28) support"
	depends on ARCH_MULTI_V5
	select GPIOLIB
	select MXS_TIMER
	select PINCTRL
	select SOC_BUS
	select SOC_IMX23
	select SOC_IMX28
	select STMP_DEVICE
	help
	  Support for Freescale MXS-based family of processors

config MX28_ENET_ISSUE
	bool "Enable MX28 enet issue fix - Read help!"
	depends on SOC_IMX28
	default y
	help
	  Say Y to enable a fix for link up/down issue on mx28.
	  It is STRONGLY! recommended to always have external oscillators
	  provide the clock to ENET PHY and FEC unit.
